@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box
}

body {
    background-image: url("/PadelCourtBookingWebsite/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 1vh;
    margin: 0;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 70px;
    padding: 10px;
    transition: background-color 0.5s ease;
    z-index: 10;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px #000;
    margin: auto;
}

.btnEntrar {
    background-color: #75fa96;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.btnEntrar:hover {
    background-color: #5eeb7f;
    outline: 3px solid #0d9930;
}

.sectionProcurar {
    margin-top: 30vh !important;
    width: 80%;
    margin: auto;
}

.sectionProcurar h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px #000;
    width: 100%;
}

.pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pesquisa input {
    height: 3.5rem;
}

#pesquisa {
    width: 80%;
    border: none;
    padding: 10px;
    font-size: 1rem;
}

#data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    border: none;
    border-left: 1px solid #afa7a6;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    cursor: pointer;
}

#data:hover {
    background-color: #75fa96;
}

#data p {
    margin: 0;
}

.container-dia {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    border-right: 1px solid #afa7a6;
}

.container-dia h3 {
    margin-top: 0;
}

.container-hora {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    border-right: 1px solid #afa7a6;
}

.container-hora h3 {
    margin-top: 0;
}

.container-2horas {
    display: flex;
    flex-direction: row;
}


.container-hora-inicio {
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-hora-inicio p {
    margin-top: 0;
}

.hora-inicio {
    display: flex;
    flex-direction: row;
    width: 10rem;
    max-height: 300px;
    border: 1px solid #afa7a6;
}

.hora-inicio p {
    margin: 0;
}

.container-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6rem;
}

.hora {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-height: 315px;
    border: 1px solid #afa7a6;
}

.hora button {
    width: 100%;
    min-height: 2rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.hora button:hover {
    background-color: #75fa96;
}

#container-pesquisa {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btn-month {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: auto;
    background-color: transparent;
    border: 1px solid #afa7a6;
    cursor: pointer;
}

.btn-month:hover {
    border: 1px solid #0d9930;
}

.btn-month:active {
    background-color: #f4f4f4;
}

.selected {
    background-color: #0d9930 !important;
    color: #fff;
}

#calendar {
    width: 300px;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#month-year {
    text-align: center;
    font-size: 24px;
}

#calendar-body {
    width: 100%;
    border-collapse: collapse;
}

#calendar-body th {
    width: 14.28%;
    text-align: center;
    padding: 10px;
}

#calendar-body td {
    width: 14.28%;
    text-align: center;
    padding: 10px;
    border: 1px solid #afa7a6;
    cursor: pointer;
}

.hover {
    cursor: pointer;
    background-color: #75fa96;
}

.past {
    color: #afa7a6;
}

td:not(.disabled):hover {
    background-color: transparent;
}

.container-resultado {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-resultado p {
    margin: 0;
}

.container-resultado-inner {
    padding: 20px;
    border-left: 1px solid #0d9930;
}

#diaSemanaFinal {
    font-size: 1.5rem;
    font-weight: bold;
}

#dataFinal {
    font-size: 1.5rem;
}

#horasFinal {
    font-size: 1.5rem;
}

.container-resultado button {
    width: 80%;
    height: 3rem;
    border: none;
    background-color: #75fa96;
    color: #111;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
}

.container-resultado button:hover {
    outline: 3px solid #0d9930;
    background-color: #5eeb7f;
}

h2 {
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: 0 0 5px #000;
}

.section-campos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.campo {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    position: relative;
    cursor: pointer;
}

.campo img {
    max-height: 230px;
}

.container-preco-campo {
    position: absolute;
    right: 0;
    top: calc(40% - 2rem);
    background-color: #111;
    width: 60px;
    height: 80px;
}

.container-preco-campo p {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    margin: 0;
    background-color: #75fa96;
    color: #000;
    font-size: 10px;
    font-weight: bold;
}

.container-preco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.valor1 {
    font-size: 40px;
    font-weight: bold;
    color: #75fa96;
}

.conatiner-preco-2 {
    display: flex;
    flex-direction: column;
}

.valor2 {
    font-size: 12px;
    font-weight: bold;
    color: #75fa96;
}

#nomeCampo {
    font-size: 20px;
    font-weight: bold;
    color: #111;
    margin: 0;
    margin-top: 10px;
}

#localizacaoCampo {
    font-size: 15px;
    color: #afa7a6;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}