@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box
}

body {
    background-image: url("/background2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    max-height: 50vh;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 70px;
    padding: 10px;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px #000;
    margin: auto;
}

.btnEntrar {
    background-color: #75fa96;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.btnEntrar:hover {
    background-color: #5eeb7f;
    outline: 3px solid #0d9930;
}

.sectionProcurar {
    margin-top: 30vh !important;
    width: 80%;
    margin: auto;
}

.sectionProcurar h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px #000;
    width: 100%;
}

.pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pesquisa input {
    height: 3.5rem;
}

#pesquisa {
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    outline: none;
}

#data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

#data p {
    margin: 0;
}

#data:hover {
    background-color: #75fa96;
}

#data:focus {
    background-color: #75fa96;
}

.container-pesquisa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}





#calendar {
    width: 300px;
    margin: 0 auto;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#month-year {
    text-align: center;
    font-size: 24px;
}

#calendar-body {
    width: 100%;
    border-collapse: collapse;
}

#calendar-body th{
    width: 14.28%;
    text-align: center;
    padding: 10px;
}

#calendar-body td {
    width: 14.28%;
    text-align: center;
    padding: 10px;
    border: 1px solid #afa7a6;
}

#calendar-body td:hover {
    cursor: pointer;
    background-color: #75fa96;
}

.past {
    color: #afa7a6;
}